.carta{
  border-left: 10px solid gold;
  border-right: 10px solid gold;
  border-top: 10px solid gold;
  border-bottom: 10px solid gold;
  background-color: rgb(50,50,50);
  border-radius: 10px;
  color:white;
  width: 300px;
  height: 580px;
}
